body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pl,
.fl {
  float: left;
}

.pr,
.fr {
  float: right;
}

.clear {
  clear: both;
}

.ml5 {
  margin-left: 5px;
}

.mt5 {
  margin-top: 5px;
}

.mr5 {
  margin-right: 5px;
}

.mb5 {
  margin-bottom: 5px;
}

.pl5 {
  padding-left: 5px;
}

.pt5 {
  padding-top: 5px;
}

  

.pr5 {
  padding-right: 5px;
}

.pb5 {
  padding-bottom: 5px;
}

.main-cont {
  padding: 2em;
}

.page-cont {
  width: 100%;
}

.form-cont {
  width: 100%;
}

.p-rel{
  position: relative
}

.p-abs{
  position: absolute
}

.bold{
  font-weight: bold;
}
.img-full{
  width: 100%;
}
.addBtn {
  width: 7em;
  padding: 10px 10px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background: #02ef09;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.closeBtn {
  position: absolute;
  top: 2%;
  right: 1%;
  border-radius: 50%;
  border: 2px solid #000;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.closeBtn .closeBtntxt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.1em;
}

.title1 {
  text-transform: uppercase;
  color: #242222;
  font-family: sans-serif;
}

.title2 {
  color: #242222;
  font-family: sans-serif;
}

.customInputBorder {
  padding: 11px 20px;
  border-radius: 5px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.23);
}

.customInputBorder .customInputBorderLabel {
  padding: 0 3px;
  background: #fff;
  color: rgb(0 0 0 / 59%);
  top: -10px;
  position: absolute;
  left: 10px;
  font-weight: 400;
  font-size: 0.75em; 
}


/* input.formGroup{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
} */


/* resume Temp - start */
.skillRowMargin{
  margin-bottom: 20px;
}


.resume-temp-grid{
  cursor: pointer;
  border: 1px solid #eee;
  margin: 3.5em 1em 1em 3em;
  box-shadow: 1px 1px 1px #ccc;
  padding: 0.8em 0.8em 2em 0.8em !important;
  text-align: center;
  position: relative;
}
.resume-temp-grid.active{
  /* background: #cfcdc7; */
  background: #eee;
}

.resume-temp-title{
  transform: translate(-50%, 0);
  bottom: 8px;
  position: absolute;
  left: 50%;
}

.resume-temp-check-icon{
  margin-top: 5px;
  margin-bottom: -5px;
}

.previewBtn{
  margin-bottom: 1em;
  margin-right: 1em;
}

/* resume Temp - end */




