.contRowMargin{
    margin-bottom: 20px;
}

.resume-temp-grid{
    cursor: pointer;
    border: 1px solid #eee;
    margin: 3.5em 1em 1em 3em !important;
    box-shadow: 1px 1px 1px #ccc;
    padding: 0.8em 0.8em 3.5em 0.8em !important;
    text-align: center;
    position: relative;
}
.resume-temp-grid.active{
    /* background: #cfcdc7; */
    background: #eee;
}

.resume-temp-title{
    transform: translate(-50%, 0);
    bottom: 8px;
    position: absolute;
    left: 50%;
}

.resume-temp-check-icon{
    transform: translate(-50%, 0);
    bottom: 23px;
    position: absolute;
    left: 50%;
}

.previewBtn{
    margin-bottom: 1em !important;
    margin-right: 1em !important;
}

.previewResumeCont{
    padding: 1em !important;
}
