.contRowMargin {
  margin-bottom: 20px;
}

.addDltBtn {
  padding-top: 16px;
}

.resume-temp-grid {
  cursor: pointer;
  border: 1px solid #eee;
  margin: 3.5em 1em 1em 3em !important;
  box-shadow: 1px 1px 1px #ccc;
  padding: 0.8em 0.8em 3.5em 0.8em !important;
  text-align: center;
  position: relative;
}

.resume-temp-grid.active {
  /* background: #cfcdc7; */
  background: #b8dbff;
  border: 1px solid #b8dbff;
  box-shadow: 1px 1px 1px #b8dbff;
}

.resume-temp-title {
  transform: translate(-50%, 0);
  bottom: 8px;
  position: absolute;
  left: 50%;
}

.resume-temp-title.selected {
  color: #1976d2;
}

.resume-temp-check-icon {
  transform: translate(-50%, 0);
  bottom: 23px;
  position: absolute;
  left: 50%;
}

.previewBtn {
  margin-bottom: 1em !important;
  margin-right: 1em !important;
}

.previewResumeCont {
  padding: 1em !important;
}
